h2 {
  color: red;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  color: grey;
}

ul li {
  padding: 0 5px;
}

ul li:hover{
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}